* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}
/*------------------SCROOL----------------------*/
section {
    position: relative;
    width: 100%;
    height: 100%;
}
section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
#fleche-soutenez-nous a {
    padding-top: 70px;
}
#fleche-soutenez-nous a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -12px;
    border-left: 3px solid #8e24aa;
    border-bottom: 3px solid #8e24aa;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb06 {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
/*-----------------HEADER-----------------------*/
.applilogo {
    padding-top: 2%;
}
.application {
    background-color: #f4f4f4;
    width: 100%;
}
.btn-primary {
    margin-top: 20px;
    background-color: #fd9700;
    border-radius: 15px;
}
.btn-primary:hover {
    background-color: #8e24aa;
}
.col {
    text-align: center;
    margin-bottom: 40px;
}
.clic-form {
    height: 400px;
    padding-top: 50px;
    background-image: url(../img/soutenez-nous-opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.card-title {
    text-align: center;
}
.card{
    box-shadow:2px 2px 20px rgba(0,0,0,0.3);
    border:none; margin-bottom:30px;
}
.card-01 .card-body{
    position:relative; padding-top:40px;
}
.card-01 .badge-box{
    position:absolute;
    top:-20px;
    left:50%;
    width:100px;
    height:100px;
    margin-left:-50px;
    text-align:center;
}
.card-01.height-fix{
    height:auto;
    overflow:hidden;}
.card-01.height-fix .card-img-top{
    width:auto!important;
}
.citation {
    font-style: italic;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
}
h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}
h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0px;
    height: 2px;
    background-color: #03a6f0;
}
.home {
    background-image:url(../img/backgroun-opacity.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#logo-home {
    margin-top: 10%;
}
.logoappli {
    height: 80px;
}
#logo-nav {
    height: 40px;
    margin-left: 10px;
}
#mockup {
    height: 400px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar {
    background-color: #03a6f0;
}
#phrase-accroche {
    color: black;
}
.presentation {
    height: 300px;
    background-image: url(../img/adam-whitlock-270558.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
.soutenez-nous{
    padding-top: 30px;
}
.soutiens img {
    height: 240px;
}
.soutiens {
    margin-bottom: 60px;
}
.small {
    width: 20px;
}
.text-home {
    text-align: center;
}
#text-presentation {
    text-align: center;
    font-size: 1em;
    margin-top: 30px;
}
.titlepartner {
    background-image: url(../img/rejoins-nous.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.titlepartner h2 {
    font-size: 2.5em;
    color: white;
    padding-top: 4%;
}
/*------------------ Formulaires -------------*/
.soutien {
    background-color: #f4f4f4;
    padding-top: 30px;
}
.form_choice {
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

.checkboxgroup {
    display: inline-block;
    text-align: center;
}

.user_type {
    display: inline-block;
    text-align: center;
}

.submit {
    text-align: center;
}

.user_type {
    display: inline-block!important;
    text-align: center!important;
}
.user_type label {
    display: block!important;
}

.user-form {
    padding: 20px;
    margin-top: 20px;
    border-radius:15px;
    display:none;
}

.user-form input {
    margin-bottom: 5px;
}

.nom-user {
    margin-top: 20px;
}

.submit-form {
    padding: 15px 30px 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}

.submit-form[disabled] {
    cursor: default;
}

#submit_form_licencie, #submit_form_association {
    background-color: #fd9700;
}

#submit_form_commercant {
    background-color: #03b0ff;
}

#date_naissance_form {
    background-color: #FFFFFF;
}

#licencie_form {
    background-color: rgba(3,176,255, 0.6);
}

#commercant_form {
    background-color: rgba(253,151,0, 0.8);
}

#association_form {
    background-color: rgb(114,68,136);
    background-color: rgba(114,68,136, 0.8);
}

/** css from https://bootsnipp.com/snippets/featured/register-page-design **/

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.control-label {
    padding-top: 3px;
}

.visible .infinite fadeInDown {
    
}

/*************** ROSACE ********************/

#rosace {
    cursor: pointer;
}

#text_rosace_association, #text_rosace_commercant, #text_rosace_licencie {
    display: none;
    margin-top: 30%;
    text-align: justify;
    -ms-text-align-last: center;
    text-align-last: center;
}
/*************** MEDIA QUERIES *************/

@media (max-width: 1080px){
    #logo-home {
        width: 200px;
        margin-top: 20%;
    }
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.8em;
    }
    .home {
    background-image:url(../img/stade-phone.jpg);
    background-size: auto;
    }
    .presentation {
    height: 300px;
    background-image: url(../img/adam-whitlock-270558.jpg);
    background-attachment: fixed;
    background-size: auto;
    background-position: bottom;
    }
    #mockup {
    height: 300px;
    }
    .logoappli {
    height: 48px;
    }
}