<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div class="checkboxgroup">
        <label class="clabel" for="my_radio_button_id1">My Label1</label>
        <input type="radio" name="radio" id="my_radio_button_id1" />
    </div>
    <div class="checkboxgroup">
        <label class="clabel" for="my_radio_button_id2">My Label2</label>
        <input type="radio" name="radio" id="my_radio_button_id2" />
    </div>
    <div class="checkboxgroup">
        <label class="clabel" for="my_radio_button_id3">My Label3</label>
        <input type="radio" name="radio" id="my_radio_button_id3" />
    </div>
<div class="checkboxgroup" style="display: inline-block; text-align: center; margin-bottom: 2%;">
    <label for="association_id" style="display: block;">
        <img src="img/ic_aidez.png" alt="Association" style="width: 50%;">
    </label>
    <input type="radio" name="user_type" ng-model="user_type" id="association_id" value="Association">
</div>
<div class="checkboxgroup" style="display: inline-block; text-align: center;">
    <label for="commercant_id" style="display: block; margin: 0;">
        <img src="img/ic_cagnottez.png" alt="Commerçant" style="width: 50%;">
    </label>
    <input type="radio" name="user_type" ng-model="user_type" id="commercant_id" value="Commercant">
</div>
<div class="checkboxgroup" style="display: inline-block; text-align: center;">
    <label for="licencie_id" style="display: block; margin: 0;">
        <img src="img/ic_consommez.png" alt="licencie" style="width: 50%;">
    </label>
    <input type="radio" name="user_type" ng-model="user_type" id="licencie_id" value="Licencie">
</div>
</body>
</html>