<div class="user-form col-md-6 offset-md-3" id="association_form">
    <div class="form-group">
        <label for="nom_form_association" class="col-md-8 control-label">Nom de l'association</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            <input type="text" name="nom" placeholder="Indiquez le nom de votre association" class="form-control"
                   ng-model="nom_association" id="nom_form_association" required>
        </div>
    </div>
    <div class="form-group">
        <label for="adresse_form_association" class="col-md-8 control-label">Votre adresse</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i></span>
            <input type="text" name="adresse" placeholder="Indiquez l'adresse de votre association" class="form-control"
                   ng-model="adresse_association" id="adresse_form_association" required>
        </div>
    </div>
    <div class="form-group">
        <label for="cp_form_association" class="col-md-8 control-label">Votre code postal</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></span>
            <input type="text" name="cp" placeholder="Indiquez le code postal de votre association" class="form-control"
                   ng-model="cp_association" id="cp_form_association" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email_form_association" class="col-md-8 control-label">Votre email</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
            <input type="email" name="email" placeholder="Indiquez votre email" class="form-control"
                   ng-model="email_association" id="email_form_association" required>
        </div>
    </div>
    <div class="form-group">
        <label for="telephone_form_association" class="col-md-8 control-label">Votre téléphone</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></span>
            <input type="tel" name="telephone" placeholder="Indiquez votre numéro de téléphone" class="form-control"
                   ng-model="telephone_association" id="telephone_form_association" required>
        </div>
    </div>
    <div class="row submit">
        <input type="submit" class="btn btn-submit col-md-4 offset-md-4 submit-form" value="Valider"
               id="submit_form_association" ng-disabled="associationForm.$invalid"
               ng-click="uc.saveLicencie(nom, prenom, date_naissance, adresse, cp, club, email,telephone)">
    </div>
</div>